#about {
    min-height: 100vh;
    background: $contrast;
    position: relative;
    h1 {
        margin-bottom: 5px;
    }
}

@media (max-width: $tablet-width) {
    #about {
        height: auto;
    }
    #about h1 {
        text-align: center;
    }
}

// @media (max-width: $mobile-large) {
//     #about {
//         height: auto;
//     }
//     #about h1 {
//         text-align: center;
//     }
// }

.about-flex {
    display: flex;
    justify-content: space-between;
}

@media (max-width: $tablet-width) {
  .about-flex {
      flex-direction: column;
      height: auto;
  }
}

// @media (max-width: $mobile-large) {
//   .about-flex {
//       flex-direction: column;
//   }
// }

.text-container {
    width: calc(100% - 260px);
    p {
        margin-top: 0;
    }
}

@media (max-width: $tablet-width) {
   .text-container {
       width: 100%;
       margin-top: 30px;
       height: 500px;
   }
}

@media (max-width: $mobile-large) {
    .text-container {
        height: 600px;
    }
}

@media (max-width: $mobile-small) {
    .text-container {
        height: 700px;
    }
}

// @media (max-width: $mobile-large) {
//    .text-container {
//        width: 100%;
//        height: 450px;
//        margin-top: 20px;
//    }
// }


// @media (max-width: $mobile-med) {
//    .text-container {
//        height: 500px;
//    }
// }

//HEADSHOT CONTAINER
.img-container {
    position: relative;
    box-shadow: -30px 30px 0 -20px $secondary;
}

.desktop-img {
    width: 220px;
    height: 330px;
    position: relative;
    box-shadow: -30px 30px 0 -20px $secondary;
    display: block;
}

.mobile-img {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    display: none;
}

@media (max-width: $tablet-width) {
   .desktop-img {
        display: none;
    }
         .mobile-img {
        display: block;
    }
}

// @media (max-width: $mobile-large) {
//    .desktop-img {
//         display: none;
//     }
//          .mobile-img {
//         display: block;
//     }
// }


@media (max-width: $mobile-large) {
    .img-container {
        margin: 0 auto;
    }
}

@media (max-width: $mobile-med){
    .mobile-img {
        width: 250px;
        height: 250px;
    }
}

#oscar, #giorgi {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    display: none;
}

#toggle-giorgi, #toggle-oscar {
    color: $accent;
    cursor: default;
}

#wave {
    position: absolute;
    margin-left: 3px;
}
#wave:hover {
    -webkit-animation: wave 1s 1;
    -moz-animation: wave 1s 1;
    animation: wave 1s 1;
    cursor: default;
}


//ANIMATION

@keyframes wave {
    0% {
        transform: rotate(0deg) 
    }
    25% {
        transform: rotate(15deg) 
    }
    50% {
        transform: rotate(-15deg)
    }
    75% {
        transform: rotate(15deg)
    }
    100% {
        transform: rotate(0deg)
    }
}