//ACCESSIBILITY 
.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

//VARIABLES

$accent: #fe3d4e;
$secondary: #3BF4DB;
$contrast: #f7f5ff;
$dark: #01092e;


html {
    font-size: 125%;
}

 h2, h3, ul, li {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    line-height: 1.6;
    letter-spacing: 1px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
    line-height: 1.1;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    color: $accent;
    text-shadow: 1px 1px $dark;
    text-transform: uppercase;
}

p {
    line-height: 1.6;
    font-family: 'Lato', sans-serif;
    color: $dark;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    width: 100%;
}

section {
    padding-top: 80px;
}

.button {
    width: 120px;
    height: 40px;
    display: inline-block;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    //  font-family: 'Lato', sans-serif;
     letter-spacing: 1px;
     border: none;
     text-transform: uppercase;
     background: $contrast;
     color: $dark;
     position: relative;
     transition: all 0.5s;
     overflow: hidden;
     border: 2px solid $contrast;
     span {
         position: absolute;
         width: 120px;
         height: 40px;
         top: 0;
         left: 0;
         z-index: 10;
         padding-top: 3px;
         transition: all 0.5s;
     }
}

.button:focus {
    border: 2px solid $accent;
}

a:focus i {
    color: $accent;
}

#cv-button {
    width: 180px;
    height: 40px;
    background: $secondary;
    border: 2px solid $secondary;
    p {
        position: absolute;
        font-family: 'Oswald', sans-serif;
        left: 20px;
        top: 2px;
        transition: all 0.5s;
    }
}

#cv-button:hover p {
    color: $contrast;
}

.button:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 0.5s;
    top: -60px;
    left: 0;
}

.button:hover:before {
    top: 0;
    background: $accent;
}

.button:hover span {
    color: $contrast;
}

.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

.fa-chevron-circle-down {
    font-size: 1.5rem;
    // position: absolute;
    color: $accent;
    transition: all 0.3s;
    bottom: 5px;

}


.down-arrow-bar {
    height: 50px;
    width: 100%;
    bottom: 0;
    position: absolute;
    text-align: center;
    padding-top: 10px;
}

#header-arrow-bar, #skills-arrow-bar {
    background: $contrast;
}

#about-arrow-bar {
    background: #F2F2F2;
}

.fa-chevron-circle-down:hover {
    color: $secondary;
    animation: animate-down 1.5s 1;
}

.letter {
    transition: all 0.3s;
}

.letter:hover {
    color: $secondary;
}

.contact-wrapper .letter:hover {
    color: $accent;
}

//ANIMATION

@keyframes animate-down {
    0% {
        transform: scale(1)
    }
    25% {
        transform: scale(1.1)
    }
    50% {
        transform: scale(1)
    }
    75% {
        transform: scale(1.2)
    }
    100% {
        transform: scale(1)
    }
}

