
header {
    min-height: 100vh;
    background: url(../../assets/laptop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80%;
    background-attachment: fixed;
    position: relative;
}

@media (max-width: $tablet-width) {
    header {
        min-height: 80vh;
    }
}

.block {
    display: block;
}

.header-wrapper {
    min-height: 65vh;
    position: relative;
}

.social-nav {
    position: fixed;
    width: 40px;
    height: 220px;
    left: 10px;
    top: calc(50% - 160px);
    display: none;
    z-index: 20;
    i {
        color: $dark;
        margin: 15px 10px;
        transition: all 0.3s;
    }
    i:hover {
        color: $accent;
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
    }
}

@media (max-width: $tablet-width) {
    .social-nav {
        display: none;
    }
}



.title-container {
    position: absolute;
    bottom: 0;
    height: 400px;
    width: 540px;
    padding-top: 40px;
    i {
        margin-top: 30px;
     }
}


#name {
    font-size: 6rem;
    animation: animate-text 10s infinite linear;
    text-shadow: 1px 1px $dark,
    2px 2px $dark,
    3px 3px $dark,
    4px 4px $dark,
    5px 5px $dark,
    6px 6px $dark;
}
@media (max-width: $tablet-width) {
    #name {
        font-size: 4.5rem;
    }
}


//TITLE TEXT ANIMATION
@keyframes animate-text {
    0% {
        text-shadow: 1px 1px $contrast,
        2px 2px $dark,
        3px 3px $dark,
        4px 4px $dark,
        5px 5px $dark,
        6px 6px $dark;
    }
    10% {
        text-shadow: 1px 1px $contrast,
        2px 2px $contrast,
        3px 3px $dark,
        4px 4px $dark,
        5px 5px $dark,
        6px 6px $dark;
    }
    20% {
        text-shadow: 1px 1px $contrast,
        2px 2px $contrast,
        3px 3px $contrast,
        4px 4px $dark,
        5px 5px $dark,
        6px 6px $dark;
    }
    30% {
        text-shadow: 1px 1px $contrast,
        2px 2px $contrast,
        3px 3px $contrast,
        4px 4px $contrast,
        5px 5px $dark,
        6px 6px $dark;
    }
    40% {
          text-shadow: 1px 1px $contrast,
        2px 2px $contrast,
        3px 3px $contrast,
        4px 4px $contrast,
        5px 5px $contrast,
        6px 6px $dark;
    }
    50% {
          text-shadow: 1px 1px $contrast,
        2px 2px $contrast,
        3px 3px $contrast,
        4px 4px $contrast,
        5px 5px $contrast,
        6px 6px $dark;
    }
       60% {
          text-shadow: 1px 1px $contrast,
        2px 2px $contrast,
        3px 3px $contrast,
        4px 4px $contrast,
        5px 5px $contrast,
        6px 6px $dark;
    }
    70% {
          text-shadow: 1px 1px $contrast,
        2px 2px $contrast,
        3px 3px $contrast,
        4px 4px $contrast,
        5px 5px $dark,
        6px 6px $dark;
    }
    80% {
        text-shadow: 1px 1px $contrast,
        2px 2px $contrast,
        3px 3px $contrast,
        4px 4px $dark,
        5px 5px $dark,
        6px 6px $dark;
    }
        90% {
        text-shadow: 1px 1px $contrast,
        2px 2px $contrast,
        3px 3px $dark,
        4px 4px $dark,
        5px 5px $dark,
        6px 6px $dark;
    }
    100% {
        text-shadow: 1px 1px $contrast,
        2px 2px $dark,
        3px 3px $dark,
        4px 4px $dark,
        5px 5px $dark,
        6px 6px $dark;
    }

}