#skills {
    background: #F2F2F2;
    position: relative;
    // background: url(../../assets/confetti.svg);
    // background-size: cover;
}

.skills-flex {
    display: flex;
    height: 500px;
    flex-direction: column;
}

.row {
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: space-between;
}

.skills-container {
    width: 50%;
    padding-top: 100px;
}



figure {
    padding-top: 25px;
    height: 150px;
    width: 150px;
    border-radius: 5px;
    text-align: center;
    background: $secondary;
    transition: all 0.3s;
    i {
        font-size: 4rem;
        color: $accent;
    }
    figcaption {
        color: $accent;
    }
}

figure:hover {
    transform: skewX(-5deg) scale(1.05);
    margin-right: 30px;
    margin-top: 30px;
    box-shadow: 10px -10px 10px rgba(0, 0, 0, 0.1);
}

