#work {
    background: $contrast;
    min-height: 100vh;
    position: relative;
}

#work-title {
    text-align: center;
}

.work-carousel {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    border: 5px solid $accent;
    border-radius: 5px;
    background: $secondary;
}

.work-display-flex {
    height: 400px;
    display: flex;
}

.prev-slide, .next-slide {
    position: absolute;
    top: 40%;
    font-size: 3rem;
    color: $accent;
    cursor: pointer;
    transition: all 0.3s;
}

.prev-slide:hover, .next-slide:hover {
    color: $secondary;
    transform: scale(1.1);
}
.prev-slide {
    left: -60px;
}
.next-slide {
    right: -60px;
}

.description {
    width: 50%;
    height: 100%;
    padding: 40px;
    button {
        margin: 0 auto;
    }
}

.laptop-display {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px 20px 20px;
}

.laptop-display img {
    width: 70%;
}

// .slide-two, .slide-three, .slide-four {
//     display: none;
// }