#work {
    background: $contrast;
    min-height: 100vh;
    position: relative;
}

#work-title {
    text-align: center;
}

.work-carousel {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 5px;
    position: relative;
    border-radius: 5px;
    background: $secondary;
}

.work-display-flex {
    height: 400px;
    display: flex;
    -webkit-animation: fade-in 1s linear;
    animation: fade-in 0.5s linear;
}


@media (max-width: 1120px) {
    .work-display-flex {
        height: 450px;
    }
}

@media (max-width: 970px) {
    .work-display-flex {
        height: 500px;
    }
}

@media (max-width: 740px) {
    .work-display-flex {
        flex-direction: column;
        flex-direction: column-reverse;
        height: auto;
    }
}

.prev-slide, .next-slide {
    position: absolute;
    top: 40%;
    font-size: 3rem;
    color: $accent;
    cursor: pointer;
    transition: all 0.3s;
}

.prev-slide:hover, .next-slide:hover {
    color: $secondary;
    transform: scale(1.1);
}
.prev-slide {
    left: -60px;
}

.next-slide {
    right: -60px;
}

@media (max-width: $tablet-width) {
   .prev-slide {
       left: -30px;
       font-size: 2rem;
   }
   .next-slide {
       right: -30px;
       font-size: 2rem;
   }
}

.description {
    width: 50%;
    height: 100%;
    padding: 40px;
    button {
        margin: 0 auto;
    }
}

.laptop-display {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px 20px 20px;
}

.laptop-display img {
    width: 70%;
}

@media (max-width: 740px) {
    .description, .laptop-display{
        width: 100%;
        text-align: center;
    }
    .description {
        height: 320px;
        padding-top: 0;
    }
    .laptop-display {
        height: 200px;
        padding-top: 10px;
        padding-bottom: 0;
    }
    .laptop-display img {
        height: 100%;
        width: auto;
    }
}

@-webkit-keyframes fade-in {
  from {opacity: .3} 
  to {opacity: 1}
}

@keyframes fade-in {
  from {opacity: .3} 
  to {opacity: 1}
}