article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

h2, h3, ul, li {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  line-height: 1.6;
  letter-spacing: 1px;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 4rem;
  line-height: 1.1;
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
  color: #fe3d4e;
  text-shadow: 1px 1px #01092e;
  text-transform: uppercase;
}

p {
  line-height: 1.6;
  font-family: 'Lato', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

section {
  padding-top: 80px;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

.fa-chevron-circle-down {
  font-size: 1.5rem;
  color: #fe3d4e;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  bottom: 5px;
}

.down-arrow-bar {
  height: 50px;
  width: 100%;
  bottom: 0;
  position: absolute;
  text-align: center;
  padding-top: 10px;
}

#header-arrow-bar, #skills-arrow-bar {
  background: #f7f5ff;
}

#about-arrow-bar {
  background: url(../../assets/confetti.svg);
}

.fa-chevron-circle-down:hover {
  color: #3BF4DB;
  -webkit-animation: animate-down 1.5s 1;
          animation: animate-down 1.5s 1;
}

.letter {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.letter:hover {
  color: #3BF4DB;
}

@-webkit-keyframes animate-down {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animate-down {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.nav-bar {
  height: 80px;
  background: #f7f5ff;
  padding-top: 18px;
}

.nav-bar h3 {
  text-align: center;
}

.header-nav {
  height: 80px;
  padding: 0 80px;
  width: 100%;
  background: #f7f5ff;
  top: 0;
  position: fixed;
  display: none;
  z-index: 40;
}

.header-nav ul {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hamburger {
  width: 80px;
  height: 80px;
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 25px;
  z-index: 50;
}

.line {
  position: relative;
  background: #01092e;
  height: 5px;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.line-one, .line-three {
  width: 30px;
}

.line-two {
  width: 50px;
}

.hamburger:hover .line-one, .hamburger:hover .line-three, .hamburger:hover .line-two {
  width: 50px;
  background: #fe3d4e;
}

.header-nav a {
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header-nav a:after {
  bottom: 0;
  content: "";
  height: 3px;
  width: 0;
  left: 50%;
  position: absolute;
  background: #fe3d4e;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header-nav li:hover a:after {
  width: 100%;
  left: 0;
}

.header-nav a:hover {
  transform: scale(1.02);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
}

.hamburger.active :nth-child(1) {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 10px;
}

.hamburger.active :nth-child(3) {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  bottom: 10px;
}

.hamburger.active :nth-child(2) {
  opacity: 0;
  width: 5px;
}

header {
  min-height: 100vh;
  background: url(../../assets/laptop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80%;
  background-attachment: fixed;
  position: relative;
}

header span {
  display: block;
}

.header-wrapper {
  min-height: 65vh;
  position: relative;
}

.social-nav {
  position: fixed;
  width: 40px;
  height: 210px;
  left: 10px;
  top: calc(50% - 105px);
  display: none;
  z-index: 20;
}

.social-nav i {
  color: #01092e;
  margin: 15px 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.social-nav i:hover {
  color: #fe3d4e;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
}

.title-container {
  position: absolute;
  bottom: 0;
  height: 400px;
  width: 540px;
  padding-top: 40px;
}

.title-container i {
  margin-top: 30px;
}

#name {
  font-size: 6rem;
  -webkit-animation: animate-text 3s infinite linear;
          animation: animate-text 3s infinite linear;
}

@-webkit-keyframes animate-text {
  0% {
    text-shadow: 1px 1px #f7f5ff, 2px 2px #3BF4DB, 3px 3px #3BF4DB, 4px 4px #3BF4DB;
  }
  25% {
    text-shadow: 1px 1px #3BF4DB, 2px 2px #f7f5ff, 3px 3px #3BF4DB, 4px 4px #3BF4DB;
  }
  50% {
    text-shadow: 1px 1px #3BF4DB, 2px 2px #3BF4DB, 3px 3px #f7f5ff, 4px 4px #3BF4DB;
  }
  75% {
    text-shadow: 1px 1px #3BF4DB, 2px 2px #3BF4DB, 3px 3px #3BF4DB 4px 4px #f7f5ff;
  }
  100% {
    text-shadow: 1px 1px #3BF4DB, 2px 2px #3BF4DB, 3px 3px #3BF4DB, 4px 4px #3BF4DB;
  }
}

@keyframes animate-text {
  0% {
    text-shadow: 1px 1px #f7f5ff, 2px 2px #3BF4DB, 3px 3px #3BF4DB, 4px 4px #3BF4DB;
  }
  25% {
    text-shadow: 1px 1px #3BF4DB, 2px 2px #f7f5ff, 3px 3px #3BF4DB, 4px 4px #3BF4DB;
  }
  50% {
    text-shadow: 1px 1px #3BF4DB, 2px 2px #3BF4DB, 3px 3px #f7f5ff, 4px 4px #3BF4DB;
  }
  75% {
    text-shadow: 1px 1px #3BF4DB, 2px 2px #3BF4DB, 3px 3px #3BF4DB 4px 4px #f7f5ff;
  }
  100% {
    text-shadow: 1px 1px #3BF4DB, 2px 2px #3BF4DB, 3px 3px #3BF4DB, 4px 4px #3BF4DB;
  }
}

#about {
  min-height: 100vh;
  background: #f7f5ff;
  position: relative;
}

.about-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text-container {
  width: calc(100% - 260px);
}

.text-container p {
  margin-top: 0;
}

.img-container {
  width: 220px;
  height: 330px;
  position: relative;
  -webkit-box-shadow: -30px 30px 0 -20px #3BF4DB;
          box-shadow: -30px 30px 0 -20px #3BF4DB;
}

#oscar, #giorgi {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: none;
}

#toggle-giorgi, #toggle-oscar {
  color: #fe3d4e;
  cursor: default;
}

#wave {
  position: absolute;
  margin-left: 3px;
}

#wave:hover {
  -webkit-animation: wave 1s 1;
          animation: wave 1s 1;
  cursor: default;
}

#about-arrow-down {
  background: #F2F2F2;
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  75% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes wave {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  75% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

#skills {
  background: #F2F2F2;
  position: relative;
}

.skills-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills-container {
  width: 50%;
  padding-top: 100px;
}

figure {
  padding-top: 25px;
  height: 150px;
  width: 150px;
  border-radius: 5px;
  text-align: center;
  background: #3BF4DB;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

figure i {
  font-size: 4rem;
  color: #fe3d4e;
}

figure figcaption {
  color: #fe3d4e;
}

figure:hover {
  -webkit-transform: skewX(-5deg) scale(1.05);
          transform: skewX(-5deg) scale(1.05);
  margin-right: 30px;
  margin-top: 30px;
  -webkit-box-shadow: 10px -10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 10px -10px 10px rgba(0, 0, 0, 0.1);
}

#work {
  background: #f7f5ff;
  min-height: 100vh;
}

#work-title {
  text-align: center;
}

.work-carousel {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  border: 5px solid #fe3d4e;
  border-radius: 5px;
  background: #3BF4DB;
}

.work-display-flex {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.prev-slide, .next-slide {
  position: absolute;
  top: 40%;
  font-size: 3rem;
  color: #fe3d4e;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.prev-slide:hover, .next-slide:hover {
  color: #3BF4DB;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.prev-slide {
  left: -60px;
}

.next-slide {
  right: -60px;
}

.description {
  width: 50%;
  height: 100%;
  padding: 40px;
}

.description button {
  margin: 0 auto;
}

.laptop-display {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 20px 20px 20px;
}

.laptop-display img {
  width: 70%;
}
/*# sourceMappingURL=style.css.map */